*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    list-style: none;
    text-align: center;
}
nav{
    color: red;
    position: fixed;
    top: 0px;
    background-color: white;
    border-style: groove;
    border-width: 5px;
    min-width: 400px;
    text-align: left;
}
.heading{
    color: red;
    font-size: 200%;
}
.patience-message{
    background-image: linear-gradient(180deg, red, white);
    border-style: solid;
    color: black;
    font-size: 150%;
}
body{
    background-image: url("./images/pixel-space-background.jpg");
    background-color: black;
    background-repeat: round;
    color: red;
}
.flex-container1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 400px;
}
@media(max-width: 800px){
    .flex-container1{
        flex-direction: column;
    }
}
.flex-box1{
    background-color: white;
    border-style: solid;
    width: 250px;
}
.flex-container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
}
.flex-box2{
    background-color: white;
    border-style: solid;
    border-radius: 10%;
    height: 200px;
    width: 200px;
}
.linkedin-img{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    height: 175px;
}
footer{
    position: relative;
}