nav{
    margin: 0;
    padding: 0;
    position: fixed;
    height: 40px;
    top: 0px;
    left: 0px;
    min-width: 100%;
    background-color:rgba(0, 0, 0, 0.9);
    z-index: 3;
}
.dropdownBtn{
    margin-top: 5px;
    margin-left: 5px;
    height: 40px;
    width: 40px;
    background-color: black;
    background-image: url("./images/dropdown-icon-white.png");
    background-size: 95%;
    cursor: pointer;
    border-radius: 10%;
    border-color:white;
}
.dropdownBtn:hover, .dropdownBtn:focus{
    background-color: darkgray;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
    border-radius: 5%;
    z-index: 1;
}
.dropdown-content a{
    color: black;
    text-decoration: solid;
    font-weight: bold;    
    padding: 12px 16px;
    display: block;
}
.dropdown-content a:hover{
    background-color: darkgray;
    border-radius: 5%;
}
.show{
    display: block;
}
.heading{
    color: white;
    font-size: 200%;
    min-height: 250px;
    text-align: center;
}
span.typed-content{
    color: white;
}
#section-title{
    background: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0,0), rgba(252, 252, 252, 0.3));
}
#section-bio{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgb(46, 110, 192), rgb(31, 91, 169));
}
#section-social{
    background: linear-gradient(to bottom, rgb(31, 91, 169), rgb(31, 91, 169), rgb(31, 91, 169), rgb(18, 41, 118), rgb(0,0,0));
}
.flex-container-bio{
    display: flex;
    justify-content: center;
}
.flex-box-bio-pic{
    justify-content: left;
    background-color: white;
    width: 250px;
    border-radius: 30%;
    z-index: 1;
}
.flex-box-bio-text{
    justify-content: right;
    width: 500px;
    margin-left: -100px;
    font-size: 120%;
    background-image: linear-gradient(to right, darkgray, rgb(46, 110, 192));
    background-color: rgba(0, 0, 0, 0.66);
    border-radius: 75px;
}
.flex-box-bio-text p{
    margin-left: 110px;
}
.uppersky{
    color: black;
}
#cloud-small{
    background-color: white;
    width: 300px;
    height: 100px;
    border-radius: 150px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
}
#cloud-small:after {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -50px;
    left: 50px;
}
#cloud-small:before {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 170px;
    height: 150px;
    border-radius: 50%;
    top: -90px;
    right: 40px;
}
#cloud-large{
    background-color: white;
    width: 600px;
    height: 150px;
    border-radius: 150px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
}
#cloud-large:after {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 200px;
    height: 150px;
    border-radius: 50%;
    top: -75px;
    left: 50px;
}
#cloud-large:before {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 340px;
    height: 225px;
    border-radius: 50%;
    top: -140px;
    right: 40px;
}
#cloud-medium{
    background-color: white;
    width: 450px;
    height: 150px;
    border-radius: 150px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
}
#cloud-medium:after {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 220px;
    height: 150px;
    border-radius: 50%;
    top: -100px;
    left: 50px;
}
#cloud-medium:before {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 120px;
    height: 100px;
    border-radius: 50%;
    top: -75px;
    right: 75px;
}
#bottom-cloud{
    position: absolute;
    background-color: white;
    width: 100%;
    min-width: 500px;
    height: 125px;
    border-radius: 150px;
    bottom: -5%;
    left: 0%;
    z-index: 1;
}
#bottom-cloud:after{
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 150px;
    height: 100px;
    border-radius: 50%;
    top: -30px;
    right: 480px;
}
.cloud-large1{
    position: absolute;
    top: 15%;
    left: -10%;
}
.cloud-medium1{
    position: absolute;
    top: 12%;
    left: 60%;
}
.lowersky{
    color: black;
}
.cloud-small1{
    position: absolute;
    top: 60%;
    left: 60%;
}
.cloud-small2{
    position: absolute;
    top: 70%;
    left: 10%;
}
.cloud-medium2{
    position: absolute;
    bottom: -5%;
    left: -5%;
}
.cloud-large2{
    position: absolute;
    bottom: -5%;
    right: -5%; 
}
.social-upper-sky{
    background: linear-gradient(rgb(255,255,255), rgba(255,255,255,0.8) ,rgba(255,255,255,0.5), rgba(255,255,255,0.2), rgb(31, 91, 169));
    min-height: 350px;
}
.social-media-plug{
    margin-top: 50px;
    text-align: center;
}
#linkedin-message{
    position: absolute;
    top: 25%;
    left: 20%;
}
.flex-container1{
    display: block;
    flex-direction: row;
    justify-content: space-evenly;
    height: 300px;
    margin-bottom: 450px;
}
.flex-box1{
    position: absolute;
    top: 30%;
    left: 25%;
    padding-top: 25px;
    background-color: white;
    background-image: linear-gradient(180deg, white, black);
    border-style: solid;
    border-radius: 10%;
    height: 200px;
    width: 200px;
}
.flex-box1:hover{
    background-image: linear-gradient(180deg, darkgray, black);
}
.linkedin-img{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    height: 175px;
}
.flex-box1 h3{
    margin-top: -25px;
    margin-bottom: 0px;
    color: black;
}
#github-message{
    position: absolute;
    top: 25%;
    left: 60%;
}
.flex-box2{
    position: absolute;
    top: 30%;
    left: 60%;
    padding-top: 25px;
    background-color: white;
    background-image: linear-gradient(180deg, white, black);
    border-style: solid;
    border-radius: 10%;
    height: 200px;
    width: 200px;
}
.flex-box2:hover{
    background-image: linear-gradient(180deg, darkgray, black);
}
.flex-box2 h3{
    margin-top: -25px;
    margin-bottom: 0px;
    color: black;
}
.github-img{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    height: 175px;
}
.ground{
    background: linear-gradient(rgb(22, 110, 22), rgb(4, 44, 4), rgb(0,0,0));
    z-index: 3;
    min-height: 200px;
}
.grass{
    min-height: 75px;
    min-width: 500px;
    width: 100%;
    background-image: url("./images/grass2.png");
    background-repeat: repeat-x;
}
.seal{
    position: absolute;
    bottom: 5px;
    left: 10px;
}
body{
    background-image: url("./images/pixel-space-background.jpg");
    background-color: black;
    background-repeat: round;
    color: white;
}
@media screen and (max-width: 500px){
    .heading{
        font-size: 100%;
    }
    .flex-box-bio-pic{
        width: 160px;
        height: 160px;
        margin-top: 10px;
    }
    .flex-box-bio-pic img{
       max-width: 100%;
    }
    .flex-box-bio-text{
        width: 340px;
        height: 180px;
        font-size: 100%;
    }
    .flex-box-bio-text p{
        margin-top: 30px;
        margin-left: 103px;
        font-size: 85%;
    }
    #cloud-small{
        background-color: white;
        width: 150px;
        height: 50px;
        border-radius: 150px;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    }
    #cloud-small:after {
        content: '';
        background: rgba(255, 255, 255);
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        top: -25px;
        left: 25px;
    }
    #cloud-small:before {
        content: '';
        background: rgba(255, 255, 255);
        position: absolute;
        width: 85px;
        height: 75px;
        border-radius: 50%;
        top: -45px;
        right: 20px;
    }
    #cloud-large{
        background-color: white;
        width: 300px;
        height: 75px;
        border-radius: 150px;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    }
    #cloud-large:after {
        content: '';
        background: rgba(255, 255, 255);
        position: absolute;
        width: 100px;
        height: 75px;
        border-radius: 50%;
        top: -37px;
        left: 25px;
    }
    #cloud-large:before {
        content: '';
        background: rgba(255, 255, 255);
        position: absolute;
        width: 170px;
        height: 112px;
        border-radius: 50%;
        top: -70px;
        right: 20px;
    }
    #cloud-medium{
        background-color: white;
        width: 225px;
        height: 75px;
        border-radius: 150px;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    }
    #cloud-medium:after {
        content: '';
        background: rgba(255, 255, 255);
        position: absolute;
        width: 110px;
        height: 75px;
        border-radius: 50%;
        top: -50px;
        left: 25px;
    }
    #cloud-medium:before {
        content: '';
        background: rgba(255, 255, 255);
        position: absolute;
        width: 60px;
        height: 50px;
        border-radius: 50%;
        top: -37px;
        right: 37px;
    }
    #bottom-cloud{
        position: absolute;
        background-color: white;
        width: 900px;
        height: 62px;
        border-radius: 150px;
        bottom: -5%;
        left: -5%;
        z-index: 1;
    }
    #bottom-cloud:after{
        content: '';
        background: rgba(255, 255, 255);
        position: absolute;
        width: 150px;
        height: 50px;
        border-radius: 50%;
        top: -30px;
        right: 480px;
    }
    .cloud-small1{
        position: absolute;
        top: 65%;
        left: 60%;
    }
    .cloud-small2{
        position: absolute;
        top: 75%;
        left: 10%;
    }
    .social-upper-sky{
        min-height: 225px;
    }
    .flex-container1{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .flex-box1{
        left: 10%;
        background-color: white;
        background-image: linear-gradient(180deg, white, black);
        border-style: solid;
        border-radius: 10%;
        height: 110px;
        width: 125px;
    }
    .flex-box1:hover{
        background-image: linear-gradient(180deg, darkgray, black);
    }
    .flex-box1 h3{
        margin-top: -25px;
        margin-bottom: 0px;
        color: black;
    }
    .linkedin-img{
        display: block;
        width: 100px;
        height: 100px;
    }
    .flex-box2{
        right: 10%;
        padding-top: 25px;
        background-color: white;
        background-image: linear-gradient(180deg, white, black);
        border-style: solid;
        border-radius: 10%;
        height: 110px;
        width: 125px;
    }
    .flex-box2:hover{
        background-image: linear-gradient(180deg, darkgray, black);
    }
    .flex-box2 h3{
        margin-top: -25px;
        margin-bottom: 0px;
        color: black;
    }
    .github-img{
        display: block;
        width: 100px;
        height: 100px;
    }
    .ground{
        background: linear-gradient(rgb(22, 110, 22), rgb(4, 44, 4), rgb(0,0,0));
        z-index: 3;
        min-height: 150px;
    }
    .grass{
        min-height: 100px;
        min-width: 100%;
        background-image: url("./images/grass2.png");
        background-repeat: repeat-x;
    }
}