nav{
    color: red;
    position: fixed;
    top: 0px;
    background-color: white;
    border-style: groove;
    border-width: 5px;
    min-width: 400px;
    text-align: left;
}
body{
    background-color: black;
    background-image: url("../images/pixel-space-background.jpg");
}