nav{
    margin: 0;
    padding: 0;
    position: fixed;
    height: 40px;
    top: 0px;
    left: 0px;
    min-width: 100%;
    background-color:rgba(0, 0, 0, 0.9);
}
.dropdownBtn{
    margin-top: 5px;
    margin-left: 5px;
    height: 40px;
    width: 40px;
    background-color: black;
    background-image: url("http://jaredm423.com/images/dropdown-icon-white.png");
    background-size: 95%;
    cursor: pointer;
    border-radius: 10%;
    border-color:white;
}
.dropdownBtn:hover, .dropdownBtn:focus{
    background-color: darkgray;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    display: block;
}
.dropdown-content a:hover{
    background-color: darkgray;
}
.show{
    display: block;
}
body{
    margin-top: 100px;
    background-color: black;
    background-image: url("http://jaredm423.com/images/pixel-space-background.jpg");
    color: white;
}
.heading{
    text-align: center;
    font-size: 200%;
}
.flex-container1{
    margin-top: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
}
.flex-box1{
    text-align: center;
    font-size: 150%;
    color: black;
    background-color: white;
    background-image: linear-gradient(180deg, white, black);
    border-style: solid;
    border-color: white;
    border-radius: 10%;
    height: 300px;
    width: 200px;
}
.flex-box1:hover{
    background-image: linear-gradient(180deg, white, teal);
}