nav{
    margin: 0;
    padding: 0;
    position: fixed;
    height: 50px;
    top: 0px;
    left: 0px;
    min-width: 100%;
    background-color:rgba(0, 0, 0, 0.9);
    z-index: 10;
    text-align: left;
}
.dropdown{
    display: flex;
    justify-content: space-between;
}
.dropdownBtn{
    margin-top: 5px;
    margin-left: 5px;
    height: 40px;
    width: 40px;
    background-color: black;
    background-image: url("http://jaredm423.com/images/dropdown-icon-white.png");
    background-size: 95%;
    cursor: pointer;
    border-radius: 10%;
    border-color:white;
}
.dropdownBtn:hover, .dropdownBtn:focus{
    background-color: darkgray;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    z-index: 1;
}
.dropdown-content a{
    color: black;
    text-decoration: solid;
    font-weight: bold;    
    padding: 12px 16px;
    display: block;
}
.dropdown-content a:hover{
    background-color: darkgray;
    border-radius: 5%;
}
.bugreportBtn{
    margin-right: 5px;
    margin-top: 5px;
    height: 40px;
    width: 40px;
    background-color: rgb(101, 100, 100);
    background-image: url("http://jaredm423.com/images/bug-report-image.png");
    background-size: 100%;
    border-radius: 10%;
    border-color: white;
    cursor: pointer;
    z-index: 1;
}
.bugreportBtn:hover{
    background-color: darkgray;
}
.show{
    display: block;
}
body{
    margin-top: 100px;
    color: white;
    background-color: black;
    background-image: url("http://jaredm423.com/images/pixel-space-background.jpg");
    text-align: center;
}
.heading{
    font-size: 200%;
    min-height: 250px;
}
h2{
    font-size: 250%;
}
.image-class{
    height: auto;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
}
.image-class:hover{
    background-color: white;
    border-radius: 15px;
}
img{
    height: auto;
    width: 100%;
    border-radius: 15px;
}
.fullpage-text-border{
    background: linear-gradient(to top, rgb(225, 84, 37), rgb(245, 121, 79));
    margin-top: 5%;
    padding: 1%;
}
.fullpage-text{
    width: 90%;
    background-color: black;
    padding: 5%;
}
.typed-text-border{
    background: linear-gradient(to top, rgb(123, 123, 123), rgb(201, 201, 201));
    margin-top: 5%;
    padding: 1%;
}
.typed-text{
    width: 90%;
    background-color: black;
    padding: 5%;
}
.you-text-border{
    background: linear-gradient(to top, rgb(255, 0, 0), rgb(54, 0, 248));
    margin-top: 5%;
    padding: 1%;
}
.you-text{
    width: 90%;
    background-color: black;
    padding: 5%;
}
p{
    font-size: 150%;
}
@media screen and (min-width: 700px) {
    .image-class{
        height: auto;
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        padding: 1%;
    }
    img{
        height: auto;
        width: 100%;
    }
    .fullpage-text-border{
        width: 49%;
        margin-top: 5%;
        margin-left: 25%;
        padding: 1%;
    }
    .fullpage-text{
        width: 80%;
        padding: 10%;
    }
    .typed-text-border{
        width: 49%;
        margin-top: 5%;
        margin-left: 25%;
        padding: 1%;
    }
    .typed-text{
        width: 80%;
        padding: 10%;
    }
    .you-text-border{
        width: 49%;
        margin-top: 5%;
        margin-left: 25%;
        padding: 1%;
    }
    .you-text{
        width: 80%;
        padding: 10%;
    } 
}
@media screen and (min-width: 1200px) {
    .image-class{
        height: auto;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        padding: 1%;
    }
    img{
        height: auto;
        width: 100%;
    }
    .fullpage-text-border{
        width: 59%;
        margin-top: 5%;
        margin-left: 20%;
        padding: 1%;
    }
    .fullpage-text{
        width: 80%;
        padding: 10%;
    }
    .typed-text-border{
        width: 59%;
        margin-top: 5%;
        margin-left: 20%;
        padding: 1%;
    }
    .typed-text{
        width: 80%;
        padding: 10%;
    }
    .you-text-border{
        width: 59%;
        margin-top: 5%;
        margin-left: 20%;
        padding: 1%;
    }
    .you-text{
        width: 80%;
        padding: 10%;
    } 
}
@media screen and (min-width: 1700px) {
    .image-class{
        height: auto;
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        padding: 1%;
    }
    img{
        height: auto;
        width: 100%;
    }
    .fullpage-text-border{
        width: 49%;
        margin-top: 5%;
        margin-left: 25%;
        padding: 1%;
    }
    .fullpage-text{
        width: 80%;
        padding: 10%;
    }
    .typed-text-border{
        width: 49%;
        margin-top: 5%;
        margin-left: 25%;
        padding: 1%;
    }
    .typed-text{
        width: 80%;
        padding: 10%;
    }
    .you-text-border{
        width: 49%;
        margin-top: 5%;
        margin-left: 25%;
        padding: 1%;
    }
    .you-text{
        width: 80%;
        padding: 10%;
    } 
}