nav{
    margin: 0;
    padding: 0;
    position: fixed;
    height: 40px;
    top: 0px;
    left: 0px;
    min-width: 100%;
    background-color:rgba(0, 0, 0, 0.9);
}
.dropdownBtn{
    margin-top: 5px;
    margin-left: 5px;
    height: 40px;
    width: 40px;
    background-color: black;
    background-image: url("http://jaredm423.com/images/dropdown-icon-white.png");
    background-size: 95%;
    cursor: pointer;
    border-radius: 10%;
    border-color:white;
}
.dropdownBtn:hover, .dropdownBtn:focus{
    background-color: darkgray;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    text-decoration: solid;
    font-weight: bold; 
    padding: 12px 16px;
    display: block;
}
.dropdown-content a:hover{
    background-color: darkgray;
}
.show{
    display: block;
}
body{
    background-image: url("http://jaredm423.com/images/pixel-space-background.jpg");
    background-color: black;
}
.flex-container{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.flex-box{
    border-style: solid;
    overflow: hidden;
    padding: 50px;
}
.resume-border{
    background: linear-gradient(to bottom, red, yellow);
    padding: 10px;
}
.resume{
    height: 800px;
    max-width: 100%;
}
@media screen and (max-width: 400px){
    .flex-container{
        flex-direction: column;
    }
    .flex-box{
        padding: 5px;
    }
    .resume-border{
        padding: 5px;
    }
    .resume{
        height: 450px;
    }
}