nav{
    margin: 0;
    padding: 0;
    position: fixed;
    height: 40px;
    top: 0px;
    left: 0px;
    min-width: 100%;
    background-color:rgba(0, 0, 0, 0.9);
    z-index: 10;
}
.dropdownBtn{
    margin-top: 5px;
    margin-left: 5px;
    height: 40px;
    width: 40px;
    background-color: black;
    background-image: url("http://jaredm423.com/images/dropdown-icon-white.png");
    background-size: 95%;
    cursor: pointer;
    border-radius: 10%;
    border-color:white;
}
.dropdownBtn:hover, .dropdownBtn:focus{
    background-color: darkgray;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    z-index: 1;
}
.dropdown-content a{
    color: black;
    text-decoration: solid;
    font-weight: bold;    
    padding: 12px 16px;
    display: block;
}
.dropdown-content a:hover{
    background-color: darkgray;
    border-radius: 5%;
}
.show{
    display: block;
}
body{
    margin-top: 100px;
    color: white;
    background-color: black;
    background-image: url("http://jaredm423.com/images/pixel-space-background.jpg");
}
h2{
    margin-bottom: 50px;
    font-size: 200%;
}
#section-heading{
    text-align: center;
    font-size: 200%;
}
#section-whoami{
    text-align: center;
}
#section-myskills h2{
    margin-bottom: 20px;
    color: linear-gradient(to right, red, orange, yellow);
}
h3{
    margin-top: 5px;
}
h4{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal;
}
.flex-container-bio{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}
.flex-box-bio-pic{
    background: linear-gradient(to right, blue, red);
    width: 210px;
    border-radius: 50%;
    z-index: 1;
    margin-bottom: 25px;
}
.flex-box-bio-pic img{
    margin-top: 2px;
    max-width: 100%;
    width: 200px;
    border-radius: 50%;
}
.flex-box-bio-text-border{
    margin-top: 20px;
    background: linear-gradient(to right, blue, red);
    max-width: 321px;
    padding: 1rem;
    max-height: 306px;
    padding: 3px;
}
.flex-box-bio-text{
    text-align: left;  
    background: linear-gradient(to right, gray, white, gray);
    max-height: 315px;
    max-height: 300px;
    padding: 2rem;
}
.flex-box-bio-text p{
    color: black;
    font-size: 125%;
}
#section-myskills{
    text-align: center;
}
.flex-container-skills{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.flex-box-skills1-border{
    background: linear-gradient(to right, white, red);
    padding: 3px;
    margin-bottom: 5px;
}
.flex-box-skills1{
    max-height: 30px;
    width: 300px;
    color: black;
    background: linear-gradient(to right, gray, white, gray);
    padding: 5px;
}
.flex-box-skills1-1{
    text-align: left;
    width: 300px;
    color: black;
    background: linear-gradient(to right, gray, white, red);
    border-radius: 5%;
    margin-bottom: 10px;
}
.flex-box-skills2-border{
    background: linear-gradient(to right, white, orange);
    padding: 3px;
    margin-bottom: 5px;
}
.flex-box-skills2{
    max-height: 30px;
    width: 300px;
    color: black;
    background: linear-gradient(to right, gray, white, gray);
    padding: 5px;
}
.flex-box-skills2-1{
    text-align: left;
    width: 300px;
    color: black;
    background: linear-gradient(to right, gray, white, orange);
    border-radius: 5%;
    margin-bottom: 10px;
}
.flex-box-skills3-border{
    background: linear-gradient(to right, white, yellow);
    padding: 3px;
    margin-bottom: 5px;
}
.flex-box-skills3{
    max-height: 30px;
    width: 300px;
    color: black;
    background: linear-gradient(to right, gray, white, gray);
    padding: 5px;
}
.flex-box-skills3-1{
    text-align: left;
    width: 300px;
    color: black;
    background: linear-gradient(to right, gray, white, yellow);
    border-radius: 5%;
    margin-bottom: 10px;
}
#section-passion{
    text-align: center;
}
#section-passion h2{
    margin-bottom: 10px;
    font-size: 190%;
}
#section-passion p{
    font-size: 90%;
    margin-left: 10px;
}
.flex-container-passion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.flex-box-passion1-border{
    background: linear-gradient(to right, white, green);
    padding: 3px;
    margin-bottom: 5px;
}
.flex-box-passion1{
    max-height: 30px;
    width: 300px;
    color: black;
    background: linear-gradient(to right, gray, white, gray);
    padding: 5px;
}
.flex-box-passion1-1{
    text-align: left;
    width: 350px;
    color: black;
    background: linear-gradient(to right, gray, white, green);
    border-radius: 5%;
    margin-bottom: 10px;
}
.flex-box-passion2-border{
    background: linear-gradient(to right, white, rgb(0, 102, 255));
    padding: 3px;
    margin-bottom: 5px;
}
.flex-box-passion2{
    max-height: 30px;
    width: 300px;
    color: black;
    background: linear-gradient(to right, gray, white, gray);
    padding: 5px;
}
.flex-box-passion2-1{
    text-align: left;
    width: 350px;
    color: black;
    background: linear-gradient(to right, gray, white, rgb(0, 102, 255));
    border-radius: 5%;
    margin-bottom: 10px;
}
.flex-box-passion3-border{
    background: linear-gradient(to right, white, indigo);
    padding: 3px;
    margin-bottom: 5px;
}
.flex-box-passion3{
    max-height: 30px;
    width: 300px;
    color: black;
    background: linear-gradient(to right, gray, white, gray);
    padding: 5px;
}
.flex-box-passion3-1{
    text-align: left;
    width: 350px;
    color: black;
    background: linear-gradient(to right, gray, white, indigo);
    border-radius: 5%;
    margin-bottom: 10px;
}
#section-contact{
    text-align: center;
}
.flex-container-contact{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 50px;
}
.flex-box-contact1-border{
    background: linear-gradient(to right, red, blue);
    padding: 3px;
    margin-bottom: 5px;
}
.flex-box-contact1{
    max-height: 30px;
    width: 300px;
    color: black;
    background: linear-gradient(to right, gray, white, gray);
    padding: 5px;
}
.flex-box-contact2{
    text-align: center;
    width: 200px;
    color: black;
    background: linear-gradient(to right, gray, white);
    border-radius: 10%;
}