nav{
    margin: 0;
    padding: 0;
    position: fixed;
    height: 40px;
    top: 0px;
    left: 0px;
    min-width: 100%;
    background-color:rgba(0, 0, 0, 0.9);
    z-index: 10;
}
.dropdownBtn{
    margin-top: 5px;
    margin-left: 5px;
    height: 40px;
    width: 40px;
    background-color: black;
    background-image: url("http://jaredm423.com/images/dropdown-icon-white.png");
    background-size: 95%;
    cursor: pointer;
    border-radius: 10%;
    border-color:white;
}
.dropdownBtn:hover, .dropdownBtn:focus{
    background-color: darkgray;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    z-index: 1;
}
.dropdown-content a{
    color: black;
    text-decoration: solid;
    font-weight: bold;    
    padding: 12px 16px;
    display: block;
}
.dropdown-content a:hover{
    background-color: darkgray;
    border-radius: 5%;
}
.show{
    display: block;
}
body{
    margin-top: 100px;
    color: white;
    background-color: black;
    background-image: url("http://jaredm423.com/images/pixel-space-background.jpg");
}
#section-heading{
    text-align: center;
    font-size: 200%;
}
#section-whoami{
    text-align: center;
}
h2{
    margin-bottom: 100px;
    font-size: 200%;
}
.flex-container-bio{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}
.flex-box-bio-pic{
    background: linear-gradient(to right, gray, white);
    width: 125px;
    border-radius: 50%;
    z-index: 1;
}
.flex-box-bio-pic img{
    max-width: 100%;
    width: 110px;
    border-radius: 50%;
}
.flex-box-bio-text{
    background: linear-gradient(to right, rgb(52, 51, 51),rgb(112, 110, 110),rgba(255, 255, 255, 0.5) );
    width: 250px;
    height: 225px;
    margin-left: -100px;
    border-radius: 10%;
}
#section-myskills{
    text-align: center;
}
.flex-container-skills{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 50px;
}
.flex-box-skills1{
    text-align: center;
    width: 200px;
    color: black;
    background: linear-gradient(to right, gray, white);
    border-radius: 10%;
}
.flex-box-skills2{
    text-align: center;
    width: 200px;
    color: black;
    background: linear-gradient(to right, gray, white);
    border-radius: 10%;
}
.flex-box-skills3{
    text-align: center;
    width: 200px;
    color: black;
    background: linear-gradient(to right, gray, white);
    border-radius: 10%;
}
#section-passion{
    text-align: center;
}
.flex-container-passion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 50px;
}
.flex-box-passion1{
    text-align: center;
    width: 200px;
    color: black;
    background: linear-gradient(to right, gray, white);
    border-radius: 10%;
}
.flex-box-passion2{
    text-align: center;
    width: 200px;
    color: black;
    background: linear-gradient(to right, gray, white);
    border-radius: 10%;
}
.flex-box-passion3{
    text-align: center;
    width: 200px;
    color: black;
    background: linear-gradient(to right, gray, white);
    border-radius: 10%;
}
#section-contact{
    text-align: center;
}
.flex-container-contact{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 50px;
}
.flex-box-contact1{
    text-align: center;
    width: 200px;
    color: black;
    background: linear-gradient(to right, gray, white);
    border-radius: 10%;
}
.flex-box-contact2{
    text-align: center;
    width: 200px;
    color: black;
    background: linear-gradient(to right, gray, white);
    border-radius: 10%;
}